<ion-view title="Вход" hide-back-button="true">
    <ion-content overflow-scroll="true" padding="false" scroll="false" class="has-header">
        <form class="list">
            <div class="spacer" style="height: 40px;"></div>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Номер телефона</span>
                    <input type="tel" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Проверочный код</span>
                    <input type="number" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <div class="button-bar">
                <button class="button button-dark button-clear ">Отправить код</button>
                <a href="#/" class="button button-positive button-clear ">Войти</a>
            </div>
            <button class="button button-dark button-clear " ng-click="getImage()">Картинка</button>
            <img src="{{imageUri}}" width="100%" height="auto" alt="">
        </form>
    </ion-content>
</ion-view>