.ionic_ratings .icon {
    font-size: 50px;
    cursor: pointer;
}

.status.ng-enter,
.item-thumbnail-left {
    -webkit-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
}

.from:after {
    content: "*";
    color: red;
}
